@font-face {
    font-family:"pancettapro" ;
    src: url('fonts/PancettaPro-ExtraLight.ttf');
}
* { 
    margin:0px;
    padding:0px;
}



html {
    font-family:"pancettapro";
}

/* backgrounds */
main {
    background-color:#7798A1;
    text-align: center;
    max-width: 100%;
    overflow-x: hidden;
    padding: 0;
  }
 header{ 
  background-color:rgb(241, 238, 227);
 }
 #wituka{
    display: inline-flex;
    text-align:center;
    align-items: center;
    letter-spacing: 0.5px;
    word-spacing: 0.15em;
    font-size: 1.5em;
    overflow-y: hidden;
    
    
  }
  body{
    z-index:-1;
  }
  
  #toggle {
    display: none;
  }
  
  /**
    Hamburger
  **/
  .hamburger {
   display: inline-block;
    position: absolute;
    top: 3em;
    right: 5%;
    margin-left: -2em;
    margin-top: -45px;
    width: 0.5em;
    height: 1em;
    z-index: 7;
  }
  
  .hamburger div { 
    position: relative;
    width: 1.5em;
    height: 3px;
    border-radius: 3px;
    margin-top: 8px;
    transition: all 0.3s ease-in-out;
   background-color: #6ecddd;
  }
  
  /**
  Nav Styles
  **/
  .nav {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color:#5B4A43;
    top: -100%; left: 0; right: 0; bottom: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    transform: scale(0);
    z-index: 6;
  }
  .nav-wrapper {
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
  }
  nav {
    text-align: left;
    margin-left: 25%;
  }
  nav a {
    position: relative;
    text-decoration: none;
    color: #6ecddd;
    font-size: 2em;
    display: inline-block;
    margin-top: 1.25em;
    transition: color 0.2s ease-in-out;
    letter-spacing: 1px;
  }
  nav a:before {
    content: '';
    height: 0;
    position: absolute;
    width: 0.25em;
    left: -0.5em;
    transition: all 0.2s ease-in-out;
  }
 
  
  /**
  Animations
  **/
  #toggle:checked + .hamburger .top-bun {
    transform: rotate(-45deg);
    margin-top: 25px;
  }
  #toggle:checked + .hamburger .bottom-bun {
    opacity: 0;
    transform: rotate(45deg);
  }
  #toggle:checked + .hamburger .meat {
    transform: rotate(45deg);
    margin-top: -7px;
  }
  
  #toggle:checked + .hamburger + .nav {
    top: 0;
    transform: scale(1);
  }
  
  #mz-gallery-container {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
   
  }
  
  #mz-gallery {
    position: relative;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    max-height: 670px;
    max-width: 250px;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
   
    scroll-behavior: smooth;
    /* firefox scrollbar */
    scrollbar-width: auto;
  }
  
  @keyframes background {
    0% {
      background-position: -300% 100%;
    }
    100% {
      background-position: 100% -300%;
    }
  }
  

  
  #mz-gallery::-webkit-scrollbar-thumb:active {
    background: #444;
  }
#mz-gallery figure {
    position: relative;
    margin: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: auto;
    min-height: 1px;
    margin-right: 60px;
    scroll-snap-align: start;
    transition: all 0.3s ease-in-out;
  }
  

  #mz-gallery figure div {
    position: absolute;
    width: 1%;
    height: 1%;
    background: transparent;
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }
  
  @media (max-width: 250px) {
    #mz-gallery figure {
      scroll-snap-align: center;
    }
    #mz-gallery {
      scroll-padding: 0px 0px 0px 0px !important;
    }
  }
  
  @media (max-width: 250px) {
    #mz-gallery {
      max-height: 300px;
    }
    #mz-gallery figure {
      margin-right: 20px;
    }
  
  }
  
  @media (max-height: 250px) {
    #mz-gallery figure figcaption {
      font-size: 14pt;
      line-height: 20pt;
    }
  }
  
  @media (max-height: 250px) {
    #mz-gallery {
      background-size: 30px 30px;
      scroll-padding: 0 0 0 28px;
    }
    #mz-gallery figure {
      margin-right: 30px;
    }
   
    #mz-gallery figure figcaption {
      font-size: 12pt;
      line-height: 18pt;
      font-weight: 4;
      background-size: 30px 30px;
    }
  }
  
  @media (max-height: 90px) {
    #mz-gallery::-webkit-scrollbar {
      height: 20px;
    }
    
  }
  /* touch screen */
  
  @media (pointer: coarse) {
    #mz-gallery * {
      pointer-events: none;
    }
    #mz-gallery::-webkit-scrollbar {
      height: 35px;
    }
    #mz-gallery {
      scroll-snap-type: unset;
      scroll-padding: unset;
      scroll-behavior: unset;
    }
    #mz-gallery figure {
      scroll-snap-align: unset;
    }
    #mz-gallery figure figcaption {
      width: 100%;
      height: 30%;
      bottom: 0;
      opacity: 1;
      background:#135052;
      color: white;
      animation: unset;
      border-radius: 0;
      border-top: 1px solid #2E4C36;
    }
  }


/* images */
img {
    height: 20em;
    width: auto;
    padding-top: 3em;
}

img.logo {
  display: inline-flex;
  height: 60px;
  width: auto;
  padding: 0%;

  
}

/* spacing */
 html,body{
    max-height:100%;
 }

 #intro{
  margin-bottom: 10px;
 }
  /* keeps footer at bottom of page */
#containersite{
  min-height: 100%;
}
#main{
    overflow:hidden;
  
}
   
    
#footer {
      height: 100px;
      width: 100%;
      background-color:#4C4942;
      opacity: 1;
      border-top: 1px solid #9a9696;
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
  }
  
  @media only screen and (max-width : 1100px){
    #footer {
      height: 100px;
      width: 100%;
      background-color:#4C4942;
      opacity: 1;
      border-top: 1px solid #9a9696;
      position: sticky;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

footer p{
  text-align:left;
}

#map{ 
  height: auto;
  width: 370px;
}

  
  



